<header class="header-container">
    <div class="logo-container">
        <img src="assets/logo/duma-waves-logo-tr-bg-removebg-preview.png" alt="DMP LLC Logo" class="logo">
        <span class="brand-name">DMP LLC</span>
    </div>
    <nav class="nav-menu">
        <a routerLink="/about-us" routerLinkActive="active">About Us</a>
        <a routerLink="/services" routerLinkActive="active">Services</a>
        <a routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
        <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
    </nav>
    <div class="burger-menu" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="dropdown-menu" *ngif="menuOpen">
        <a routerLink="/about-us" routerLinkActive="active">About Us</a>
        <a routerLink="/services" routerLinkActive="active">Services</a>
        <a routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
        <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
    </div>
</header>