<header class="header-container">
  <nav>
    <div class="logo">
      <img src="assets/logo/duma-logo.svg" alt="DMP LLC Logo">
    </div>
    
    <div class="burger-menu" [class.active]="menuOpen" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="nav-links" [class.active]="menuOpen">
      <li><a routerLink="/about-us" routerLinkActive="active" (click)="toggleMenu()">About Us</a></li>
      <li><a routerLink="/services" routerLinkActive="active" (click)="toggleMenu()">Services</a></li>
      <li><a routerLink="/testimonials" routerLinkActive="active" (click)="toggleMenu()">Testimonials</a></li>
      <li><a routerLink="/contact-us" routerLinkActive="active" (click)="toggleMenu()">Contact Us</a></li>
    </ul>
  </nav>
</header>