<section class="about-us-container">
  

  <main>
    
    <div class="content-wrapper">
      <p>Welcome to Duma Studios and Music Publishing. 
        the heart of music production in Kyiv, Ukraine. 
        <br>
        At Duma Studios, we specialize in crafting exceptional soundscapes through world-class recording, mixing, and mastering services. Equipped with cutting-edge analog technology, including an SSL 6072E/G+ console and Augspurger Duo 15 S218 SXE/3500 monitoring system, we ensure unparalleled audio quality for every project.
      <div class="images">
        
      </div>
      <button class="cta-button" (click)="navigateToHome()">Go to Home</button>
    </div>
  </main>
</section>