@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Thin.woff2') format('woff2'),
       url('/assets/fonts/JetBrainsMono-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

h3 {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 2px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 100; /* Use thin weight */
  background-color: #000000;
  color: white;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.logo {
  width: 100px;
  height: auto;
  animation: zoomIn 4s ease forwards, moveUp 2s ease forwards 4s;
  transition: transform 1s ease;
}

.dmpllc {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 100; 
  font-size: 60px;
  letter-spacing: 2px;
  margin-top: 10px; 
  opacity: 0;
  animation: fadeInUp 4s ease forwards;
  animation-delay: 4s; 
}

.moto {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 100; 
  font-size: 24px;
  letter-spacing: 2px;
  margin-top: 20px; 
  opacity: 0;
  animation: typing 5s steps(30, end) forwards, fadeIn 5s ease forwards;
  animation-delay: 8s, 8s; 
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid white; 

  @media (max-width: 768px) {
    font-size: 18px;
    border-right: 1px solid white;
  }

  @media (max-width: 480px) {
    font-size: 16px;
    border-right: 1px solid white;
    white-space: normal;
    overflow: visible;
    border-right: none;
    animation: fadeIn 5s ease forwards;
    animation-delay: 8s;
    opacity: 0;
  }
}

.location {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 100; 
  font-size: 24px;
  letter-spacing: 2px;
  margin-top: 20px; 
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 13s; 
}

.button-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 15s;

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
  }
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 100;
  font-size: 16px;
  color: #000;
  background-color: #21baed;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  &:hover {
    background-color: #1a8bb8;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 480px) {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.or-text {
  margin: 0 10px;
  font-size: 16px;
  color: white;

  @media (max-width: 480px) {
    margin: 10px 0;
    font-size: 14px;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .logo {
    width: 100px;
    
  }

  .dmpllc {
    font-size: 40px;
  }

  .moto {
    font-size: 18px;
    border-right: 1px solid white;
    align-items: center;
    animation: type 5s steps(30, end) 
    , fadeIn 5s ease forwards;
    animation-delay: 8s, 8s; 
    justify-content: center;
    text-align: center;
  }

  .location {
    font-size: 18px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }

  .or-text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 60px;
    animation: zoomIn 2s ease forwards,  zoomOut 3s ease forwards 2s;

  }

  .dmpllc {
    font-size: 30px;
    margin-top: 30px;
  }

  .moto {
    font-size: 16px;
    border-right: 1px solid white;
    white-space: normal;
    overflow: visible;
    border-right: none;
    animation: fadeIn 2s ease forwards;
    animation-delay: 4s;
    opacity: 0;
  }

  .location {
    font-size: 16px;
  }

  .btn {
    font-size: 12px;
    padding: 6px 12px;
  }

  .or-text {
    font-size: 12px;
  }
}
